<!doctype html>
<html class="no-js">
<!--------Theme Shered by Mellatweb(مرجع رسمی خرید و فروش قالب و انتشار قالب های پولی)--------->

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TanpooshStore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/SiteTemplate/assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/SiteTemplate/assets/img/icon.png">

    <!-- ************************* CSS Files ************************* -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/slick-theme.css" />


</head>

<body>
    <!-- Preloader Start -->
    <div class="zakas-preloader">
        <div class="zakas-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="zakas-child zakas-bounce1"></div>
            <div class="zakas-child zakas-bounce2"></div>
            <div class="zakas-child zuka-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Start -->
        <header class="header">
            <div class="header-inner fixed-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-9 col-3">
                            <nav class="main-navigation">
                                <div class="site-branding">
                                    <a href="index.html" class="logo">
                                        <figure class="logo--transparent">
                                            <img src="~/SiteTemplate/assets/img/logo/logo-white.png" alt="Logo">
                                        </figure>
                                    </a>
                                </div>
                                <div class="mainmenu-nav d-none d-lg-block">
                                    @{
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            <ul class="mainmenu">
                                                <li class="mainmenu__item menu-item-has-children active">
                                                    <a asp-controller="Home" asp-action="Index" class="mainmenu__link">
                                                        <span class="mm-text">خانه</span>
                                                    </a>
                                                </li>
                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a asp-controller="Products" asp-action="Index" class="mainmenu__link">
                                                        <span class="mm-text">فروشگاه</span>
                                                    </a>

                                                    @* Component Menu *@
                                                    @await Component.InvokeAsync("GetMenu")
                                                </li>
                                                <li class="mainmenu__item">
                                                    <a href="contact-us.html" class="mainmenu__link">
                                                        <span class="mm-text">تماس با ما</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="mainmenu">
                                                <li class="mainmenu__item menu-item-has-children active">
                                                    <a asp-controller="Home" asp-action="Index" class="mainmenu__link">
                                                        <span class="mm-text">خانه</span>
                                                    </a>
                                                </li>
                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a asp-controller="Products" asp-action="Index" class="mainmenu__link">
                                                        <span class="mm-text">فروشگاه</span>
                                                    </a>

                                                    @* Component Menu *@
                                                    @await Component.InvokeAsync("GetMenu")
                                                </li>
                                                <li class="mainmenu__item menu-item-has-children">
                                                    <a asp-controller="LoginRegister" asp-action="Index" class="mainmenu__link">
                                                        <span class="mm-text">ورود و ثبت نام</span>
                                                    </a>
                                                </li>
                                                <li class="mainmenu__item">
                                                    <a href="contact-us.html" class="mainmenu__link">
                                                        <span class="mm-text">تماس با ما</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    }





                                </div>
                            </nav>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-9 text-right">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <ul class="header-toolbar">
                                        <li class="header-toolbar__item">
                                            <a href="wishlist.html" class="header-toolbar__btn">
                                                <i class="flaticon flaticon-like"></i>
                                            </a>
                                        </li>
                                        <li class="header-toolbar__item mini-cart-item">
                                            <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                                <i class="flaticon flaticon-shopping-cart"></i>
                                            </a>
                                        </li>
                                        <li class="header-toolbar__item user-info">
                                            <a href="" class="header-toolbar__btn">
                                                <i class="flaticon flaticon-user"></i>
                                            </a>
                                            <ul class="user-info-menu">
                                                <span>@User.Identity.Name</span>
                                                <li>
                                                    <a href="#">پنل کاربری</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Cart" asp-action="Index">سبد خرید</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Orders" asp-action="Index">سفارشات من</a>
                                                </li>
                                                <li>
                                                    <a href="#">تنظیمات</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="LoginRegister" asp-action="SignOut">خروج</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="header-toolbar__item">
                                            <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                                <i class="flaticon flaticon-search"></i>
                                            </a>
                                        </li>
                                        <li class="header-toolbar__item d-lg-none">
                                            <a href="#" class="header-toolbar__btn menu-btn">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="header-toolbar">
                                        <li class="header-toolbar__item" style="margin-left:14px;">
                                            <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                                <i class="flaticon flaticon-search"></i>
                                            </a>
                                        </li>
                                        <li class="header-toolbar__item mini-cart-item">
                                            <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                                <i class="flaticon flaticon-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Wrapper Start -->
        <div>
            @RenderBody()
        </div>
        <!-- Main Wrapper End -->
        <!-- Footer Start-->
        <footer class="footer">
            <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 text-center">
                            <div class="footer-widget mb--50 pb--1">
                                <ul class="footer-menu">
                                    <li><a href="">درباره ما</a></li>
                                    <li><a href="">شرایط و مقررات</a></li>
                                    <li><a href="">امنیت</a></li>
                                    <li><a href="">تماس با ما</a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </div>
                            <div class="footer-widget">
                                <!-- Social Icons Start Here -->
                                <ul class="social">
                                    <li class="social__item">
                                        <a href="https://plus.google.com/" class="social__link google-plus">
                                            <span>Google Plus</span>
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://facebook.com/" class="social__link facebook">
                                            <span>facebook</span>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://pinterest.com" class="social__link pinterest">
                                            <span>pinterest</span>
                                            <i class="fa fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="youtube.com" class="social__link twitter">
                                            <span>twitter</span>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Social Icons End Here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-color ptb--25" data-bg-color="#e7e7e7">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 text-sm-left text-center mb-xs--10">
                            <p class="copyright-text">Shared by: <a href="https://www.mellatweb.com/"> Mellatweb.com</a> &copy; 2019 all rights reserved</p>
                        </div>
                        <div class="col-sm-6 text-sm-right text-center">
                            <figure>
                                <img src="~/SiteTemplate/assets/img/others/payment.png" alt="payment">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End-->
        <!-- Searchform Popup Start -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>محصول مورد نظر را تایپ کنید سپس دکمه Enter را بزنید .</p>
                <form class="searchform" asp-controller="Products" asp-action="Index" method="get">
                    <input type="text" name="searchKey" id="popup-search" class="searchform__input" placeholder="جستجو در تمام فروشگاه...">
                    <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>
        <!-- Searchform Popup End -->
        <!-- Mini Cart Start -->
        <aside class="mini-cart" id="miniCart">
            @* Component Menu *@
            @await Component.InvokeAsync("MiniCart")
        </aside>
        <!-- Mini Cart End -->
        <!-- Global Overlay Start -->
        <div class="zakas-global-overlay"></div>
        <!-- Global Overlay End -->
        <!-- Qicuk View Modal Start -->
        <div class="modal fade product-modal" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
            @* Component Menu *@
            @await Component.InvokeAsync("ProductModal", new {productId= 29})
        </div>
        <!-- Qicuk View Modal End -->
    </div>
    <!-- Main Wrapper End -->
    <!-- ************************* JS Files ************************* -->
    <!-- jQuery JS -->
    <script src="~/SiteTemplate/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="~/SiteTemplate/assets/js/main.js"></script>
    <script type="text/javascript" src="~/SiteTemplate/assets/js/slick.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>